@font-face
    font-family 'icomoon'
    src:url('../../fonts/icomoon.eot?7g8092')
    src:url('../../fonts/icomoon.eot?7g8092#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?7g8092') format('truetype'),
        url('../../fonts/icomoon.woff?7g8092') format('woff'),
        url('../../fonts/icomoon.svg?7g8092#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-varian normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-menu:before
  content "\e900"
  color white
  margin .3em
  font-size 1em


.icon-menu:hover
  content "\e900"
  color cyan

.icon-facebook3:before
  content "\e901"
  color white
  margin 10px
  font-size 2em

.icon-instagram:before
  content "\e902"
  color white
  margin 10px
  font-size 2em

.icon-twitter3:before
  content "\e903"
  color white
  margin 10px
  font-size 2em

.icon-youtube:before
  content "\e904"
  color white
  margin 10px
  font-size 2em

.Section-redes
  background-color dimgrey

.Redes
  text-align center
  padding: 2em 0

.Titulo-redes
  margin-bottom 1em
  font-size: 1.5em
  border-bottom .1em solid cyan
  padding-bottom.5em

.icon-facebook3,
.icon-twitter3,
.icon-instagram,
.icon-youtube
  font-size 1em
  display inline-block
  text-decoration none
  border-radius 15px
  padding.2em 0

.icon-facebook3:hover
  background #55acee

.icon-instagram:hover
  background #55acee

.icon-twitter3:hover
  background #55acee

.icon-youtube:hover
  background #55acee

.Logo
  width 3em
  float left
  margin .3em .3em

.Section-redes
  background-color #2271B3

.Redes
  text-align center
  padding: 2em 0

.Titulo-redes
  margin-bottom 1em
  font-size: 1.5em
  border-bottom .1em solid cyan
  padding-bottom.5em

.Footer
  background-color#000000
  color #FFFFFF
  text-align center
  text-decoration none
  padding 1em

.Footer-List
  display inline-block
  padding 0
  text-align center
  width 20em
  height auto
  vertical-align top

.Footer-item
  display block
  margin .3em

.Footer-item-Bold
  font-weight bold
  text-align center

.Footer-Link
  padding .2em
  text-decoration none
  color #FFF

.MainMenu-Link:hover
  color #1565C0
  transition: .6s
