.buttom
  color: white
  background: blue
  width: 20em

.buttom1
  color: white
  background: orange
  width: 20em


@media screen and (max-width: 377px)
  .buttom
     width: 5em

  .buttom1
     width 5em
