.buttom {
  color: #fff;
  background: #00f;
  width: 20em;
}
.buttom1 {
  color: #fff;
  background: #ffa500;
  width: 20em;
}
@media screen and (max-width: 377px) {
  .buttom {
    width: 5em;
  }
  .buttom1 {
    width: 5em;
  }
}
