.HeaderAbout-Descripcion,
.HeaderAbout-Descripcion-slogang,
.HeaderAbout-Descripcion-p
    margin-left .3em
    color white

.MainMenu
    background #2271B3
    height 3.5em
    left 0
    line-height 4em
    position fixed
    right 0
    text-align center
    top 0
    z-index 0

.navbar-toggle
  background #2271B3

.MainMenu-item
    display inline-block
    margin-right 1.5em

.MainMenu-item:hover
    border-bottom .3em solid cyan

.MainMenu-list
    padding 0
    margin 0

.navbar-collapse
    background #2271B3

.MainMenu-Link
    color white
    text-decoration none

.icon-bar
    background-color white

.Logo
    width 3em
    float left
    margin .3em .3em

.Item1
    float left
    padding-left .5em

.Item2,
.Item3,
.Item4
    float right

.menu
  background #2271B3
  text-align center
  font-size 2em

.li1
    padding 1em
    display inline-block

.ini
    align-left
    display inline-block

.button
  background #CFD8DC
  font-size 1.3em
  color #000000
