<header class="Header">
  <div class="navbar  MainMenu">
  <div class="container-fluid" style="padding:0;">
    <!-- responsive movil -->
    <div class="navbar-header">
      <a class="navbar-brand MainMenu-linkLogo" href="/" ><figure class="MainMenu-logo"><img src="../../img/LOGO.png" width="100"/></figure></a>
      <button type="button" class="navbar-toggle"  data-target=".navbar-inverse-collapse" onclick="showMainMenuPrimary();">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- view desktop -->
    <div id="MainMenuPrimary" class="navbar-collapse collapse">

      <!--Usuario Logeado-->
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav navbar-right" ng-show="vm.isAuthenticated()">

          <!---->
          <div class="btn-group">
            <button type="button"  style="padding:.5em; margin-right:1em;" class="btn btn-default dropdown-toggle button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
              {{vm.getCurrentUser()}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#/perfil/{{vm.getIdCurrentUser()}}">Mi Perfil</a></li>
              <li><a href="#/usuariosList">Médicos</a></li>
              <li><a href="#/consultasList">Lista de consultas</a></li>
              <li><a href="#/configuser/{{vm.getIdCurrentUser()}}">Configuración</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#/"  ng-click="vm.logout()">Cerrar Sesión</a></li>

            </ul>
          </div>
          <!---->
        </ul>
        <!--HASTA Aqui-->
        <li ng-show="!vm.isAuthenticated()"><a href="" onclick="showLogin()" class="MainMenu-link" >Iniciar Sesión</a>
          <div id="PanelLogin" class="PanelLogin z-depth-1">
            <form class="PanelLogin-form" ng-hide="vm.isAuthenticated()" role="form" ng-submit="vm.signIn()">
              <md-input-container class="md-block">
                <label>Email*</label>
                <input style="border-bottom-color:#2271b3" required type="email" name="email" ng-model="vm.user.email"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                <div ng-messages="vm.usuario.email.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    El Email No Puede Superar Los 100 Caracteres / El Email No Es Valido.
                  </div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Password*</label>
                <input style="border-bottom-color:#2271b3" required type="password" name="password" ng-model="vm.user.password">
                <div ng-messages="vm.usuario.password.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-button md-no-ink class="md-raised md-primary" ng-click="vm.signIn()" type="submit" style="background:#2271b3;color:white;">Login</md-button>
            </form>
          </div>
          <li><a href="#/registro" class="MainMenu-link" ng-show="!vm.isAuthenticated()">Registrarse</a></li>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- <md-progress-linear class="md-warn" md-mode="buffer" value="{{vm.determinateValue}}" md-buffer-value="{{vm.determinateValue2}}" ng-disabled="!vm.showList[0]"></md-progress-linear> -->

</header>
