<body>
  <div class="Inicio-image">
     <div style="">
       <h1 class="HeaderAbout-Descripcion" >Pocket Medic</h1>
         <p class="HeaderAbout-Descripcion-p">Agilizamos los procesos de las consultas médicas que permitirá a los pacientes realizar sus consultas
         desde la comodidad de su hogar.</p>
         <!-- <img src="resources/images/LOGO.png" class="HeaderAbout-img"/> -->
         <!--button class="Buttom-slider" href="#/registro">Registrate</button>-->
     </div>
 </div>
</body>
