.Inicio-image
  background-repeat no-repeat
  background-position center
  background-image: url('../../img/enfocada.jpg');
  background-size cover
  height 70em
  margin-top 3em

.HeaderAbout-Descripcion
  display inline-block
  font-size 6em
  margin-left 80px
  margin-top 1em


.HeaderAbout-Descripcion-p
  font-size 2.1em
  width 40%
  margin-left 3em
  margin-top 3.5em

@media screen and (max-width: 700px)
  .HeaderAbout-Descripcion
    display inline-block
    font-size 6em
    margin-left 72px
    margin-top 1em

@media screen and (max-width: 700px)
  .HeaderAbout-Descripcion-p
    font-size 2.1em
    width 78%
    margin-left 2em
    margin-top 3.5em

@media screen and (max-width 751px)
    .Inicio-image
        background-image: url('../../img/enfocada.jpg')

    .HeaderAbout-Descripcion-p
        font-size: 1.7em

@media screen and (max-width 360px)
  .HeaderAbout-Descripcion
    font-size 5em
    margin-left 40px
