<section class="SectionPerfil" style="text-align:centrer;">
  <article class="FormPerfil" style="display:block;">

      <h1 style="border-bottom: 2px solid #1E0C53; padding-bottom:.5em;color:#2271b3; text-align:center;">Perfil</h1>

       <figure class="FormPerfil-img"  >
         <img class="messeger" src="../../img/messenger.jpg" width="20%"/>
       </figure>
        <label style="float: left">Foto</label>

  <form class="usuarioPerfil">

    <div class="infoPersonal">
      
    <label style="margin-bottom:2em;border-bottom: 2px display:block; color:black;">Información personal</label><br>

    <md-input-container class="md-block">
    <label>Nombre</label>
      <input required md-no-asterisk name="nombres" ng-model="vm.usuario.nombres" ng-disabled="true" style="color:black;">

    </md-input-container>
    <md-input-container class="md-block form-group has-success" >
    <label>Apellidos</label>
    <input required md-no-asterisk name="apellidos"  ng-model="vm.usuario.apellidos" ng-disabled="true" style="color:black;">
    </md-input-container>
    </div>

      <div>
      <label style="margin-bottom:2em;border-bottom: 2px solid black;display:block;">Información de contacto</label><br>

  <md-input-container class="md-block">
    <label>Teléfono</label>
    <input required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono" ng-disabled="true" style="color:black;">
  </md-input-container>

  <!-- <md-input-container class="md-block" ng-show="!(vm.SelectRol.idRol === 'USER')">
    <label>Tarjeta Profesional</label>
    <input type="text"  md-no-asterisk name="tarjetaProfesional" ng-disabled="true"  style="color:black;"
           ng-model="vm.usuario.tarjetaProfesional"  id="tarjeta">
  </md-input-container> -->

      <md-input-container class="md-block">
        <label>Dirección</label>
        <input required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion" ng-disabled="true" style="color:black;">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Email</label>
        <input type="email" ng-pattern="/^.+@.+\..+$/" required md-no-asterisk name="email" ng-model="vm.usuario.email" ng-disabled="true" style="color:black;">
      </md-input-container>

      <!-- <md-autocomplete md-selected-item="vm.usuario.ciudades" md-search-text="vm.searchTextCiudades" ng-disabled="true"
                       md-items="item in vm.queryCiudades(vm.searchTextCiudades)"
                       md-item-text="item.nombreCiudad + ' - ' + item.departamentos.nombreDepartamento"
                       md-min-length="1" md-floating-label="Ciudad"  required name="ciudadDomicilio" id="ciudad">
        <md-item-template>
          <span  style="color:black;" md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
            {{item.nombreCiudad}} - {{item.departamentos.nombreDepartamento}}</span>
        </md-item-template>
      </md-autocomplete> -->
      <!-- <md-button ng-disabled="FormPerfil.$invalid" href="/" class="buttom1">Crear Consulta</md-button> -->

    </div>
  </form>
  </article>
</section>
