.SectionPerfil {
  background: #757575;
  text-align: center;
  padding: 5em 0;
}
.Perfil {
  padding-top: 3em;
  background-color: #fffafa;
}
.FormPerfil {
  background-color: #fffafa;
  display: flex;
  justify-content: space-between;
  padding: 5em;
  margin: auto;
  border-radius: 0.1em;
  box-shadow: 0.1em 0.1em #555;
  max-width: 84em;
  width: 90%;
}
.infoPersonal {
  color: #000;
  text-align: left;
  width: 40%;
  display: inline-block;
  margin-left: 30em;
}
.FormPerfil-img {
  float: left;
  width: 10em;
  display: block;
}
.messeger {
  width: 12em;
  margin-top: 3em;
  margin-left: 5em;
}
