.formconsulta
  max-width 40em
  text-align center

.FormContent
  text-align center
  padding-left 12em

.apellido
  /** height 5em**/
  margin-top 2em
  display inline-block
  /**width 16%**/
  /**width 20%**/
  text-align center
  width 100%

.formconsulta
  margin-top: -8em;
  margin-left 10em

.sexo
  margin-top 1em

.botones
  color black
  border 2px
  padding .5em

.fecha
  margin-top 2em

.nombre
  margin-top 2em
  display inline-block
  width 100%
  /**width 16%**/
  margin-top 20em

.apellido1
  display inline-block

.boton-enviar
  border-radius 3em
  background rgb(63,81,181)
  margin-right 1em

.boton-enviar:hover
  background white


.boton-cancelar
  background rgb(63,81,181)
  border-radius 3em


.boton-cancelar:hover
  background white

.sectionConsulta
  text-align center
  /**margin 0 0 0 42em**/
  padding-bottom 5em

.form-group
  text-align center
  display inline-block

.cuadro-de-texto
  margin-right 15 em
