.formconsulta {
  max-width: 40em;
  text-align: center;
}
.FormContent {
  text-align: center;
  padding-left: 12em;
}
.apellido {
/** height 5em**/
  margin-top: 2em;
  display: inline-block;
/**width 16%**/
/**width 20%**/
  text-align: center;
  width: 100%;
}
.formconsulta {
  margin-top: -8em;
  margin-left: 10em;
}
.sexo {
  margin-top: 1em;
}
.botones {
  color: #000;
  border: 2px;
  padding: 0.5em;
}
.fecha {
  margin-top: 2em;
}
.nombre {
  margin-top: 2em;
  display: inline-block;
  width: 100%;
/**width 16%**/
  margin-top: 20em;
}
.apellido1 {
  display: inline-block;
}
.boton-enviar {
  border-radius: 3em;
  background: #3f51b5;
  margin-right: 1em;
}
.boton-enviar:hover {
  background: #fff;
}
.boton-cancelar {
  background: #3f51b5;
  border-radius: 3em;
}
.boton-cancelar:hover {
  background: #fff;
}
.sectionConsulta {
  text-align: center;
/**margin 0 0 0 42em**/
  padding-bottom: 5em;
}
.form-group {
  text-align: center;
  display: inline-block;
}
.cuadro-de-texto {
  margin-right: 15em;
}
